@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}

#Hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("../src/IMAGES/HeroImage.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
